<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernateSessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">passImgUsr</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/USERS</property>
        <property name="hibernate.connection.username">imageUser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="com.dicomimage.api.dao.UserServiceImpl.User"/>
        <mapping class="com.dicomimage.api.dao.ImageServiceImpl.Images"/>
        <mapping class="com.dicomimage.api.dao.AnnotationServiceImpl.Annotations"/>
        <mapping class="com.dicomimage.api.dao.CoordinateServiceImpl.Coordinates"/>
    </session-factory>
</hibernate-configuration>