@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App {
   text-align: center;
   background:white;
    
    font-family: "Open Sans";

}

.App-backround-color{
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  height: 100vh;
  
  
}

.card-layout{
  background-color: white;
    width: 50%;
    min-width: 450px;
    align-content: center;
    padding: 50px;
    margin-top: 10%;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    margin: auto;
  
}
/* 
.annotation-details{
  width: 400px;
  height:200px;
  display: block;
}

.labels-details{
  width :50px;
  height: 40px;
  border: #ccc
} */


.title-container__title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: "Merriweather";
  text-shadow: 30px;
  color: rgb(27, 27, 27);
}

.title-container__subtitle {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather";
  font-size: 20px;
  color: rgb(36, 35, 35);
}

/* .title-container {
  height: 60vh;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
} */


/* .form-container {
  background-color: #ffffff;
  
  width: auto;
  padding: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;

} */

.login-div{
  text-align: center;
}

.layerContainer {
  position: relative; 
  padding: 0;

}
  
.imageLayer {
  position: absolute;
  left: 0px; }

  .dwv-container{
    background-color: white; 
  }

.drawDiv {
  position: absolute; pointer-events: none; }

/* drag&drop */
.dropBox {
  border: 5px solid #ccc;
  margin: auto;
  height: 120vh;
  width: 120vh;
  min-width: 80vh;
  min-height: 80vh;
  text-align: center; vertical-align: middle;
  background: white; color: grey; }

.dropBox.hover { border: 5px dashed #cc0; }

#dwv {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  
}

  .button-row {
    text-align: left;
  
  }
  
  .legend {
    text-align: center;
    font-size: 8pt;
    margin: 1em;
  }

  .icon-layout{    
    margin-right: -100px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
